# Database and Redis
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=pretix

# Mailing System
PRETIX_MAIL_HOST=
PRETIX_MAIL_FROM=noreply@gdgbogor.com
PRETIX_MAIL_PORT=
PRETIX_MAIL_USER=noreply@gdgbogor.com
PRETIX_MAIL_PASSWORD=
